:root{
  --mainWhite:#f3f3f3;
  --mainYellow:#ffa400;
  --mainDark:#C70039;
  --mainRed:#C70039;
  --mainPink:#ca1c50;
  --mainGray: #5c5a56;
  
}
body{
  font-family: 'Permanent Marker', cursive !important;
  background: var (--mainRed) !important;
  align-items: center;
  justify-content: center;
}
.text-title {
font-family: 'Permanent Marker', cursive ;
letter-spacing: 0.3rem;
text-transform: uppercase;

}
.text-red {
	color: var(--mainRed);
}